Repository INFP-Study/CIAT, pull requests merged in 2021-12, with the labels that each got.

#145 Feature/signup peristalsis
  frontend/package.json
  frontend/src/components/auth/sign-in.js
  frontend/src/components/auth/sign-up.js
  frontend/src/constants/index.js
  frontend/src/containers/auth/sign-in-container.js
  frontend/src/containers/auth/sign-up-container.js
  frontend/src/index.js
  frontend/src/pages/auth/sign-in.js
  frontend/src/pages/auth/sign-up.js
  frontend/src/pages/home.js
  frontend/src/saga/auth.js
  frontend/src/store/auth.js
  frontend/src/utils/api/auth.js
  frontend/yarn.lock
Labels: ✨Feature, 👨‍💻Frontend, 🛠Refactor

#166 [FEATURE] 게시판 댓글 api #154
  backend/src/main/java/com/infp/ciat/feed/controller/FeedReplyController.java
  backend/src/main/java/com/infp/ciat/feed/entity/FeedReply.java
  backend/src/main/java/com/infp/ciat/feed/repository/FeedReplyRepository.java
  backend/src/main/java/com/infp/ciat/feed/service/FeedReplyService.java
Labels: 🕵Backend, ✨Feature

#172 [FEATURE] 게시글 댓글 api 추가 #171
  backend/src/main/java/com/infp/ciat/feed/controller/FeedReplyController.java
  backend/src/main/java/com/infp/ciat/feed/entity/FeedReply.java
  backend/src/main/java/com/infp/ciat/feed/repository/FeedReplyRepository.java
  backend/src/main/java/com/infp/ciat/feed/service/FeedReplyService.java
Labels: 🕵Backend, ✨Feature

#180 [FEATURE] 게시판 댓글 등록, 삭제 api #179
  backend/src/main/java/com/infp/ciat/feed/controller/FeedReplyController.java
  backend/src/main/java/com/infp/ciat/feed/entity/FeedReply.java
  backend/src/main/java/com/infp/ciat/feed/repository/FeedReplyRepository.java
  backend/src/main/java/com/infp/ciat/feed/service/FeedReplyService.java
Labels: 🕵Backend, ✨Feature

#185 [FEATURE] E4-S4 회원가입 유효성 검증 및 message 수정 #130
  frontend/src/components/auth/sign-in.js
  frontend/src/constants/index.js
  frontend/src/containers/auth/sign-in-container.js
  frontend/src/containers/auth/sign-up-container.js
  frontend/src/saga/auth.js
  frontend/src/store/auth.js
Labels: ✨Feature, 👨‍💻Frontend, 🛠Refactor

#221 refactor : category list 조회 기능 수정
  backend/src/main/java/com/infp/ciat/category/controller/CategoryController.java
  backend/src/main/java/com/infp/ciat/category/repository/CategoryRepository.java
  backend/src/main/java/com/infp/ciat/category/service/CategoryService.java
  backend/src/main/java/com/infp/ciat/category/service/CategoryServiceImpl.java
  backend/src/test/java/com/infp/ciat/category/service/CategoryServiceTest.java
Labels: 🕵Backend, ✨Feature, 🛠Refactor

#227 Feature/feed
  backend/src/main/java/com/infp/ciat/feed/controller/FeedController.java
  backend/src/main/java/com/infp/ciat/feed/entity/Feed.java
  backend/src/main/java/com/infp/ciat/feed/repository/FeedRepository.java
  backend/src/main/java/com/infp/ciat/feed/service/FeedService.java
  backend/src/main/java/com/infp/ciat/feed/service/FeedServiceImpl.java
Labels: 🕵Backend, ✨Feature, 🛠Refactor

#225 Feature/sign in peristalsis
  frontend/src/components/auth/sign-in.js
  frontend/src/constants/index.js
  frontend/src/containers/auth/sign-in-container.js
  frontend/src/saga/auth.js
  frontend/src/store/auth.js
  frontend/src/utils/api/auth.js
Labels: ✨Feature, 👨‍💻Frontend, 🖌Style

#234 [FIX] E7-S1 카테고리 조회 기능 수정 #42
  backend/src/main/java/com/infp/ciat/category/controller/CategoryController.java
  backend/src/main/java/com/infp/ciat/category/repository/CategoryRepository.java
  backend/src/main/java/com/infp/ciat/category/service/CategoryService.java
  backend/src/main/java/com/infp/ciat/category/service/CategoryServiceImpl.java
  backend/src/test/java/com/infp/ciat/category/service/CategoryServiceTest.java
Labels: 🕵Backend, 🐞Fix

#236 fix : NullPointerException 오류 수정
  backend/src/main/java/com/infp/ciat/category/controller/CategoryController.java
  backend/src/main/java/com/infp/ciat/config/security/WebSecurityConfig.java
Labels: 🕵Backend, 🐞Fix

#239 [FEATURE] 농사로 실내정원용 식물 api #197
  backend/src/main/java/com/infp/ciat/common/forest/controller/ForestApiController.java
  backend/src/main/java/com/infp/ciat/common/forest/dto/ForestRequestDto.java
  backend/src/main/java/com/infp/ciat/common/forest/model/ForestDetailIntro.java
  backend/src/main/java/com/infp/ciat/common/forest/service/ForestApiService.java
  backend/src/main/java/com/infp/ciat/config/security/WebSecurityConfig.java
  backend/src/main/java/com/infp/ciat/nongsaro/controller/NongsaroController.java
  backend/src/main/java/com/infp/ciat/nongsaro/dto/NongsaroDetailDto.java
  backend/src/main/java/com/infp/ciat/nongsaro/dto/NongsaroListDto.java
  backend/src/main/java/com/infp/ciat/nongsaro/dto/NongsaroSearchDto.java
  backend/src/main/java/com/infp/ciat/nongsaro/service/NongsaroService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
Labels: 🕵Backend, ✨Feature

#242 Feature/feed
  backend/src/main/java/com/infp/ciat/feed/controller/FeedController.java
  backend/src/main/java/com/infp/ciat/feed/controller/dto/FeedDetailDto.java
  backend/src/main/java/com/infp/ciat/feed/controller/dto/FeedReplyDto.java
  backend/src/main/java/com/infp/ciat/feed/controller/dto/FeedUpdateRequestDto.java
  backend/src/main/java/com/infp/ciat/feed/entity/Feed.java
  backend/src/main/java/com/infp/ciat/feed/service/FeedService.java
  backend/src/main/java/com/infp/ciat/feed/service/FeedServiceImpl.java
Labels: 🕵Backend, ✨Feature
